/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/

.about .article-title {
  margin-bottom: 15px;
}

.about-text {
  color: var(--light-gray);
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
  line-height: 1.6;

  p {
    margin-bottom: 15px;
  }

  div {
    margin-bottom: 15px;
  }

  a {
    display: inline-block;
    color: white;
  }
}
