.more_actions {
  display: flex;
  background-color: var(--vegas-teal);
  position: fixed;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 9999px;
  cursor: pointer;
  opacity: 1;
  bottom: 60px;
  left: 20px;
  width: 40px;
  height: 40px;
  z-index: 10;

  &.active {
    height: auto;
    width: auto;
    border-radius: 8px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: start;
    padding: 20px 24px;
  }

  & img {
    width: 30px;
    height: 30px;
  }

  & div {
    display: none;
  }

  & img:hover {
    opacity: 0.6;
    transform: scale(1.2);
  }

  & div:first-child {
    display: block;
  }

  &.active > div {
    display: block;
  }

  &.active .action__button {
    display: flex;
    gap: 12px;
    justify-content: space-between;
    align-items: center;
  }
}
