.more_actions {
  display: flex;
  background-color: var(--vegas-teal);
  position: fixed;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 9999px;
  transition-duration: 200ms;
  transition-timing-function: linear;
  cursor: pointer;
  opacity: 1;
  bottom: 110px;
  left: 20px;
  width: 40px;
  height: 40px;
  z-index: 9;

  &:hover {
    opacity: 0.6;
  }

  & > img {
    width: 30px;
    height: 30px;
  }
}
