/**
 * skills
 */
.skills {
  &-title {
    margin-bottom: 20px;
  }

  &-intro {
    color: var(--white-2);
    font-size: var(--fs-6);
    line-height: 1.6;
    margin-bottom: 20px;
    opacity: 0.9;
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &-item {
    cursor: auto !important;
    > h4 {
      margin-bottom: 10px;
      color: var(--crayola-teal);
      font-size: medium;
      font-weight: var(--fw-500);
    }
  }

  &-details {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
  }

  .skills-details:not(:last-child) {
    margin-bottom: 15px;
  }

  .skills .title-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 8px;
  }

  .skills .title-wrapper data {
    color: var(--light-gray);
    font-size: var(--fs-7);
    font-weight: var(--fw-300);
  }
}
